@import 'tailwindcss';

html,
body,
#root {
  height: 100%;
}

@custom-variant light (&:where(.light, .light *));

@theme {
  --color-gray-100: #f8fafc;
  --color-gray-200: #e2e8f0;
  --color-gray-300: #cbd5e1;
  --color-gray-400: #94a3b8;
  --color-gray-500: #64748b;
  --color-gray-600: #475569;
  --color-gray-700: #334155;
  --color-gray-800: #1e293b;
  --color-gray-900: #0f172a;

  --color-accent: #fdba74;
  --color-accent-soft: #fb923c;
  --color-accent-muted: #f97316;

  --color-background: var(--color-gray-900);
  --color-text: var(--color-gray-100);
  --color-muted: var(--color-gray-400);
  --color-border: var(--color-gray-700);
}

@layer theme {
  .light {
    --color-background: var(--color-gray-200);
    --color-text: var(--color-gray-900);
    --color-muted: var(--color-gray-500);
    --color-border: var(--color-gray-300);
  }
}

@layer utilities {
  .hover-bg-muted:hover {
    background-color: var(--color-muted);
  }
}
